# Object files
*.class

# Temp files
*~

# Scratch files
Scratch*.java

# Miscellaneous
Combo.java
test.txt
Grader.java
GraderMT.java
tools/snakeyaml-1.11-sources.jar
tools/snakeyaml-1.11-javadoc.jar
lab3.yaml
